@media (min-width: 10px) {
    #img1{
        padding-top: 10px;
    }
    #img2{
        margin-top: 10px;
        padding-bottom: 10px;
    }
  }
#destaques {
    background-color: #9fd3f6;
    display: flex;
    align-items:flex-end;
    flex-direction: column;
}
img {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
#img2{
    margin-top: 10px;
}