<mat-slide-toggle [checked]="apareceCampoComentario" (click)="toggleComentario()">Aparece Comentário!</mat-slide-toggle>
<br/>
<hr/>
<br/>
<form class="form-exempo">
  <mat-form-field class="example-full-width">
    <mat-label>Comida Favorita</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  
    <!-- <mat-form-field class="example-full-width" *ngIf="apareceCampoComentario">
      <mat-label>Deixe um comentário</mat-label>
      <textarea matInput placeholder="Ex. Isso me faz sentir...."></textarea>
    </mat-form-field> -->


  <ng-template [ngIf]="apareceCampoComentario">
    <mat-form-field class="example-full-width">
      <mat-label>Deixe um comentário</mat-label>
      <textarea matInput placeholder="Ex. Isso me faz sentir...."></textarea>
    </mat-form-field>
  </ng-template>
  
</form>

<hr/>

<h4>Material select</h4>
<mat-form-field>
  <mat-label>Comida favorita</mat-label>
  <mat-select [(value)]="selecionado">
      <mat-option *ngFor="let food of foods" [value]="food.value"> {{food.viewValue}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-card [ngSwitch]="selecionado">
  <mat-card-content *ngSwitchCase="'steak-0'">Churrascão</mat-card-content>
  <mat-card-content *ngSwitchCase="'pizza-1'">Pizza da Mama Adubada!!!</mat-card-content>
  <mat-card-content *ngSwitchCase="'tacos-2'">Muita Pimenta!</mat-card-content>
  <mat-card-content *ngSwitchDefault>Nada Nada</mat-card-content>
</mat-card>

<hr/>

<h1>{{data_de_hoje | date:'d/M/yy' | uppercase}}</h1>

<h2>{{nome | uppercase}}</h2>

<h1>{{data_de_hoje | date:'fullDate' | uppercase}}</h1>

<p>{{ frase }} </p>
<p>{{ frase | demoPipe}}</p>

<p>{{ frase | abreviaPipe:3 }} </p>




