@media (min-width: 10px) {
    .container {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr;
    }
    .card {
        height: 100%;
    }
    #banner {
        margin-top: -5px;
    }
    #img1{
        padding-top: 10px;
    }
    #img2{
        margin-top: 10px;
        padding-bottom: 10px;
    }
  }
@media (min-width: 600px) {
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 20% ; 
    grid-template-rows: 200px 250px 200px 50px;
    grid-gap: 10px 5px;
    grid-auto-rows: 100px;
}
#resultados {
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: -5px;
}
#servicos {
    margin-top: -5px;
}
}
#banner {
    background: url("../img/new_topo_princ_uesc_01.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#menu {
    background-color: #9fd3f6;
    color: #2c2c2c;
    font-family: 'Open Sans', sans-serif;
}
#menu ul{
    margin-top: 10px;
}
#noticias {
    background-color: #9fd3f6;
}
#listaNoticias {
    margin-left: 15px;
    padding: 10px;
}
#destaques {
    background-color: #9fd3f6;
    display: flex;
    align-items:flex-end;
    flex-direction: column;
}
img {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
#img2{
    margin-top: 10px;
}
#servicos {
    background-color: #9fd3f6;
}
#listaServicos {
    margin-left: 15px;
}
#resultados {
    background-color: #9fd3f6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
#listaResultados {
    margin: 5px;
    padding: 5px;
    border: 1px solid #000;
    width: 400px;
}
#rodape {
    background-color: #010219;
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
}
a {
    cursor: pointer;
}
.header {
    background-color:  #090c53;
    font-size: 20px;
    color: #f4f4f4;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
hr {
    border: 1px solid rgb(46, 208, 253)(0, 200, 255);
}
p {
    font-family: 'Heebo', sans-serif;
}