#resultados {
    background-color: #9fd3f6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
#listaResultados {
    margin: 5px;
    padding: 5px;
    border: 1px solid #000;
    width: 400px;
}