<form [formGroup]="atendimentoForm" (ngSubmit)="onSubmit()">
    <br>
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body col-xl-auto col-lg-12">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <b>Espécie<font class="text-danger">*</font></b><br />
                            <input class="form-control w-100 text-uppercase" formControlName="especie" required />
                        </div>
                        <div class="form-group col-md-3">
                            <b>Nome<font class="text-danger">*</font></b><br />
                            <input class="form-control w-100 text-uppercase" formControlName="nome" required />
                        </div>
                        <div class="form-group col-md-2">
                            <b>Raça</b><br />
                            <input class="form-control w-100 text-uppercase" formControlName="raca"/>
                        </div>
                        <div class="form-group col-md-1">
                            <b>Idade<font class="text-danger">*</font></b><br />
                            <input type="number" min="0" class="form-control w-100 text-uppercase"
                                formControlName="idade" required />
                        </div>
                        <div class="form-group col-md-2">
                            <b>Sexo<font class="text-danger">*</font></b><br />
                            <select class="form-select w-100" formControlName="sexo" required>
                                <option value="" selected></option>
                                <option value="MACHO">MACHO</option>
                                <option value="FÊMEA">FÊMEA</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <b>Cor<font class="text-danger">*</font></b><br />
                            <input class="form-control w-100 text-uppercase" formControlName="cor" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <b>Dono<font class="text-danger">*</font></b><br />
                            <input class="form-control w-100 text-uppercase" formControlName="tutor" required />
                        </div>
                        <div class="form-group col-md-2">
                            <b>Contato<font class="text-danger">*</font></b><br />
                            <input class="form-control w-100 text-uppercase" formControlName="contato" />
                        </div>
                        <div class="form-group col-md-7">
                            <b>Endereco<font class="text-danger">*</font></b><br />
                            <input class="form-control w-100 text-uppercase" formControlName="endereco" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <b>Serviço contratado</b><br />
                            <textarea class="form-control w-100 text-uppercase" formControlName="servicoContratado"
                                rows="2" required></textarea>
                        </div>
                    </div>
                    <br>
                        <a class="btn btn-outline-primary" [routerLink]="['/listar']"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Voltar</a>
                        &nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary" [disabled]="atendimentoForm.invalid">Salvar</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</form>
<ng-toast></ng-toast>
